/* client/src/components/VideoRoom/VideoRoom.module.scss */
.videoRoomOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1e293b;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zegoContainer {
  width: 100%;
  height: 100%;
}
